/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, button, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    overflow: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

$georgia: Georgia, 'Times New Roman', Times, serif;

/* splash */

.splash-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #3d6eff;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden-splash-bg {
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 0.6s;
}

.splash-img {
    width: 100px;
    height: 100px;
    padding: 0;
    border-bottom: 2px solid white;
}

.waiting-comic {
    margin-top: 10px;
    display: none;
}

/* Text */

#current {
    font-size: 25px;
    font-family: $georgia;
    width: 700px;
    left: 50%;
    height: 50px;
    line-height: 2;
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 0%;
}

.correct {
    font-size: 25px;
    font-family: $georgia;
    color: rgb(98, 177, 98);
}

.untyped {
    font-size: 25px;
    font-family: $georgia;
}

.incorrect {
    font-size: 25px;
    font-family: $georgia;
    color: red;
    border-bottom: 1px solid red;
}

.loading-text {
  display: none;
}


/* Start Modal */

.start-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 23, 95, 0.7);
    z-index: 2;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.modal-container {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    display: flex;
    flex-direction: column;;
}

.instructions-header {
    margin-bottom: 10px;
}

.start-button {
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
}

.start-button:hover {
    background-color: white;
    color: #3d6eff;
}

.field-error {
    display: none;
    color: #FF4C4C;
}

.speed-error {
    display: none;
    color: #FF4C4C;
}

.speed {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: white;
    background-color: 'rgba(0, 23, 95, 0.7)';
}

.speed:hover {
    background-color: white;
    color: #3d6eff;
}

.selected-speed {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: 'rgba(0, 23, 95, 0.7)';
    background-color: white;
    color: blue;
}

.title-header {
    font-weight: bold;
}

.author-header {
    font-weight: bold;
}

.game-container > span {
    font-size: 16px;
    font-family: $georgia;
    padding: 3px;
    display: none;
}

#input-field {
    outline: none;
    border: none;
    text-decoration: none;
}

/* timer */

.timer {
    color: #3d6eff;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    font-family: $georgia;
    display: none;
}

/* game options */

/* game option button */

.menu {
    border: 1px solid black;
    width: 120px;
    padding: 5px;
    font-size: 18px;
    font-family: $georgia;
    cursor: pointer;
    text-align: center;
    display: none;
}

.menu:hover {
    background-color: white;
    color: #3d6eff;
}

/* options modal */

.menu-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 23, 95, 0.7);
    z-index: 2;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: $georgia;
    color: white;
    display: none;
}

.restart {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: white;
    background-color: 'rgba(0, 23, 95, 0.7)';
}

.resume {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: white;
    background-color: 'rgba(0, 23, 95, 0.7)';
}

/* restart modal */

.restart-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 23, 95, 0.7);
    z-index: 2;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: $georgia;
    color: white;
    display: none;
}

/* end modal */


.end-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 23, 95, 0.7);
    z-index: 2;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: $georgia;
    color: white;
    display: none;
}

.final-wpm {
    margin-bottom: 10px;
    font-size: 40px;
}

.accuracy {
    font-size: 40px;
    margin-bottom: 10px;
}

.end-info {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.game-container {
    height: 100%;
    width: 250px;
    margin-left: 20px;
    margin-top: 40px;
}

.play-again {
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
}

.play-again:hover {
    background-color: white;
    color: #3d6eff;
}

